nginx:
  replicaCount: 1

  service:
    type: ClusterIP
    ports:
      http: 80

  containerPorts:
    http: 80

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi
