
opentelemetry-collector:

  mode: deployment



  replicaCount: 2



  service:

    enabled: true

    ports:

      otlp:

        enabled: true

        containerPort: 4317

        servicePort: 4317

        protocol: TCP

      otlp-http:

        enabled: true

        containerPort: 4318

        servicePort: 4318

        protocol: TCP



  config:

    receivers:

      otlp:

        protocols:

          grpc:

            endpoint: 0.0.0.0:4317

          http:

            endpoint: 0.0.0.0:4318



    processors:

      memory_limiter:

        check_interval: 5s

        limit_percentage: 80

        spike_limit_percentage: 25

      batch: {}



    exporters:

      debug:

        verbosity: detailed



    service:

      pipelines:

        traces:

          receivers: [otlp]

          processors: [memory_limiter, batch]

          exporters: [debug]

        metrics:

          receivers: [otlp]

          processors: [memory_limiter, batch]

          exporters: [debug]

        logs:

          receivers: [otlp]

          processors: [memory_limiter, batch]

          exporters: [debug]

