
prometheus:

  serverFiles:

    alerting_rules.yml:

      groups:

        - name: OTelCollectorExporter

          rules:

            - alert: OTelCollectorExporterQueueGrowing

              expr: (otelcol_exporter_queue_size{job=~"otel-(gateway|agent)-dev"} / otelcol_exporter_queue_capacity{job=~"otel-(gateway|agent)-dev"}) > 0.8

              for: 5m

              labels:

                severity: warning

              annotations:

                summary: "OTel exporter queue not empty"

                description: "Exporter queue_size > 0 for 5m (instance={{ $labels.instance }}, exporter={{ $labels.exporter }}, data_type={{ $labels.data_type }})"

            - alert: OTelCollectorExporterSendFailedSpans

              expr: sum by (job, exporter, data_type, instance) (rate({__name__=~"otelcol_exporter_send_failed_.*", job=~"otel-(gateway|agent)-dev"}[5m])) > 0

              for: 5m

              labels:

                severity: critical

              annotations:

                summary: "OTel exporter is failing to send spans"

                description: "send_failed_spans > 0 for 5m (instance={{ $labels.instance }}, exporter={{ $labels.exporter }})"

