apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: argocd-application-set
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/0xByteLeon/argo-otel
        revision: main
        directories:
          - path: "argocd"
  template:
    metadata:
      name: "argocd-managed"
    spec:
      project: default
      source:
        repoURL: https://github.com/0xByteLeon/argo-otel
        targetRevision: main
        path: "charts/argo-cd"
        helm:
          valueFiles:
            - values.yaml
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
