apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: argocd-self-manage
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - name: argocd-dev
            cluster: in-cluster
            namespace: argocd
            envValuesFile: values-dev.yaml
          - name: argocd-qa
            cluster: qa
            namespace: argocd
            envValuesFile: values-qa.yaml
          - name: argocd-prod
            cluster: prod
            namespace: argocd
            envValuesFile: values-prod.yaml
  template:
    metadata:
      name: "{{name}}"
    spec:
      project: default
      sources:
        - repoURL: https://argoproj.github.io/argo-helm
          chart: argo-cd
          targetRevision: 9.*
          helm:
            valueFiles:
              - $values/argo-otel/argocd/values.yaml
              - $values/argo-otel/argocd/{{envValuesFile}}
        - repoURL: https://github.com/0xByteLeon/argo-otel
          targetRevision: main
          ref: values
          path: .
      destination:
        name: "{{cluster}}"
        namespace: "{{namespace}}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
